@import url("screen.css");
@import url("non-screen.css") handheld;
@import url("non-screen.css") only screen and (max-device-width:640px);

@font-face {
  font-family: 'octiconsregular';
  src: url('octicons-regular-webfont.eot');
  src: url('octicons-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('octicons-regular-webfont.woff') format('woff'),
       url('octicons-regular-webfont.svg#octiconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------------------------------------------------
     Icon Styles
------------------------------------------------------------------------------*/

.mega-icon {
  font-family: 'octiconsregular';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.mega-icon-invertocat:before {
  content: "\f00a";
}

/* end */

/*------------------------------------------------------------------------------
     Footer Styles
------------------------------------------------------------------------------*/

#wrapper {
  padding-bottom: 150px;
  position: relative;
}

#footer {
  position: absolute;
  bottom: 0;
  padding: 0 10px;
  color: #777;
}

#footer .mega-icon {
  color: #ccc;
}

#footer .mega-icon:hover { color: #bbb; }

.footer-inner {
  border-top: 1px solid #ddd;
  display: table;
  width: 100%;
  padding: 15px 0 20px;
}

.footer-cell {
  display: table-cell;
  text-align: center;
  width: 10%;
  vertical-align: middle;
  font-size: 12px;
}

.footer-cell:first-child {
  text-align: left;
}

.footer-cell:last-child {
  text-align: right;
}

.footer-cell > li {
  display: inline;
  margin-right: 20px;
}

.footer-cell > li a:hover {
  text-decoration: underline;
}
/* end */

