html {
  height:100%;
}

body {
  font: 13px helvetica,arial,freesans,clean,sans-serif;
  line-height: 1.4em;
  background-color: #fff;
  color: #333333;
  margin: 0px;
  padding: 0px;
  height: 100%;
}


/*------------------------------------------------------------------------------
     Reset Rules
------------------------------------------------------------------------------*/

ol,ul {
  list-style:none;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

a {
  color: #4183C4;
  outline: 0;
  text-decoration: none;
}

.item a:hover {
  text-decoration: underline;
}

a img { border: none; }

p {
  margin: .8em 0;
}

p span {
  color: #777;
}

/* end */

/*------------------------------------------------------------------------------
     Header Styles
------------------------------------------------------------------------------*/

#header {
  padding: 20px;
  margin-bottom: 20px;
}

.site-logo img {
  display: block;
}

#header ul.top-nav {
  position: relative;
  float: right;
  margin-right: 9px;
  margin-top: 2px;
}

#header ul.top-nav li {
  position: relative;
  float: left;
}

#header ul.top-nav li a {
  margin-left: 15px;
  display: block;
  line-height: 25px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
}

#header ul.top-nav li a:hover {
  color: #4183C4;
}

/* end */


/*------------------------------------------------------------------------------
     Sub Header
------------------------------------------------------------------------------*/

div.breadcrumbs {
  font-size: 20px;
  background: transparent url(../ui/icon-sprites.png) 0 36px no-repeat;
  padding: 32px 0 65px 22px;
  position: relative;
  float: left;
  clear: both;
  margin-left: 27px;
}

div.breadcrumbs span {
  color: #4183C4;
}

div.breadcrumbs a:hover {
  text-decoration: underline;
}

div.breadcrumbs span + span {
  font-weight: bold;
}

ul.sub-nav {
  position: relative;
  float: right;
  margin-right: 27px;
  clear: both;
  padding: 44px 0 60px 0;
}

ul.sub-nav li {
  position: relative;
  float: left;
  display: block;
}

ul.sub-nav li.btn a,
div.cart a.remove,
div.cart a#btn-update,
div.product span.size-link a {
  cursor:pointer;
  border:1px solid #d4d4d4;
  text-shadow:1px 1px 0 #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #d4d4d4;
  margin-right: 10px;
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -ms-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -o-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #ececec);
  background-image: linear-gradient(top, #f4f4f4, #ececec);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#ececec');
  font-size: 11px;
  font-weight: bold;
  color: inherit;
  display: inline-block;
}

ul.sub-nav li.btn.faq a {
  margin-right: 0px;
}

ul.sub-nav li.btn a {
  padding: 3px 7px 1px 23px;
}

div.cart .remove,
div.cart a#btn-update {
  padding: 3px 7px 1px;
}

div.product span.size-link a {
  padding: 3px 7px 3px;
  margin-top: 10px;
}

div.cart a#btn-update {
  margin: 10px 10px 10px 5px;
}

ul.sub-nav li.btn a:hover,
div.cart a#btn-update:hover,
div.product span.size-link a:hover {
  text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.3);
  border-color:#518cc6;
  background-color: #599bdc;
  border-bottom-color:#2a65a0;
  background-image: -moz-linear-gradient(top, #599bdc, #3072b3);
  background-image: -ms-linear-gradient(top, #599bdc, #3072b3);
  background-image: -o-linear-gradient(top, #599bdc, #3072b3);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#599bdc), to(#3072b3));
  background-image: -webkit-linear-gradient(top, #599bdc, #3072b3);
  background-image: linear-gradient(top, #599bdc, #3072b3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#599bdc', EndColorStr='#3072b3');
  color: #fff;
}

div.cart .remove:hover {
  text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.3);
  border-color:#a54034;
  background-color: #e65146;
  background-image: -moz-linear-gradient(top, #e65146, #e13734);
  background-image: -ms-linear-gradient(top, #e65146, #e13734);
  background-image: -o-linear-gradient(top, #e65146, #e13734);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e65146), to(#e13734));
  background-image: -webkit-linear-gradient(top, #e65146, #e13734);
  background-image: linear-gradient(top, #e65146, #e13734);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e65146', EndColorStr='#e13734');
  color: #fff;
}

ul.sub-nav li.cart {
  background: #fff;
  padding: 0px;
}

ul.sub-nav li.cart span {
  padding: 3px 7px 2px 25px;
  display: inline-block;
  background: transparent url(../ui/cart.gif) 8px 5px no-repeat;
  -webkit-border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid #d4d4d4;
  border-width: 1px 0px 1px 1px;
}

ul.sub-nav li.cart a {
  color: #666;
  padding: 3px 7px 2px 7px;
  display: inline-block;
  text-shadow: none;
  background: #fff;
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #d4d4d4;
}

ul.sub-nav li.cart a:hover {
  color: #fff;
  background: #599bdc;
  text-shadow: none;
  border-color: #3072b3;
}

ul.sub-nav li.btn span {
  display: inline-block;
  height: 15px;
  width: 15px;
  background: transparent url(../ui/button-sprites.png) 0 0 no-repeat;
  position: absolute;
  top: 5px;
  left: 7px;
}

ul.sub-nav li.btn.faq span {
  background-position: 0px -1px;
}


ul.sub-nav li.btn.rss span {
  background-position: -15px 0px;
}

ul.sub-nav li.btn.terms span {
  background-position: -30px 0px;
}

ul.sub-nav li.btn.faq a:hover span {
  background-position: 0px -17px;
}


ul.sub-nav li.btn.rss a:hover span {
  background-position: -15px -17px;
}

ul.sub-nav li.btn.terms a:hover span {
  background-position: -30px -17px;
}

/* end */

div.item-shell {
  margin-bottom: 20px;
}

.index div.item-shell {
  float: left;
  position: relative;
  width: 470px;
  height: 527px;
}

.post div.item-shell {
  display: inline-block;
}

.post .item img {
  width: 424px;
}

.item {
  overflow: hidden;
  margin: 0 9px 0px;
  font-size: 12px;
}

.item-shell .footer {
  font-size: 24px;
  color: #666;
  font-weight: bold;
  text-align: right;
  padding: 12px 0 12px 0;
  margin: 0 12px 22px;
  border-bottom: 1px solid #cacaca;
}

.item-shell .footer:before {
  right: 20px;
}

.post .item-shell .footer {
  margin-bottom: 0;
  border: none;
}


div.item-shell div.footer a {
  color: #333;
}

div.item-shell div.footer p {
  display: inline-block;
  margin: 0px 5px 0px 0px;
}

div.item-shell div.footer p.number {
  float: left;
  margin: 15px 0;
  color: #cacaca;
}

div.item-shell div.footer img {
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 56px;
  width: 56px;
}

div.item-shell div.footer > a {
  display: inline-block;
}


div.item a {
  color: #333;
}

.index div.list {
  width: 446px;
}

div.item div.shell,
div.product div.left-col div.shell,
div.cart .shell {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

div.item p {
  margin: 0px;
}

div.item div.header,
div.product div.left-col div.header,
div.cart div.header,
div.cart tr.footer,
div.size-chart h3 {
  margin: 0px;
  color: #333;
  text-shadow: 1px 1px 0px #fff;
  border: 1px solid #CACACA;
  font-size: 13px;
  background-color: #e1e1e1;
  background-image: -moz-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: -ms-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: -o-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e1e1e1));
  background-image: -webkit-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: linear-gradient(top, #f1f1f1, #e1e1e1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e1e1e1');
  position: relative;
  overflow: hidden;
}

div.item div.header .icon,
div.product div.header .icon,
div.cart .icon {
  display: block;
  position: absolute;
  top: 12px;
  left: 7px;
  height: 14px;
  width: 16px;
  background: transparent url(../ui/icon-sprites.png) 0 0 no-repeat;
}

div.item div.header .icon-cup,
div.product div.header .icon-cup {
  background-position: -16px 0px;
}

div.item div.header .icon-mug,
div.product div.header .icon-mug {
  background-position: -32px 0px;
}

div.item div.header .icon-clothing,
div.product div.header .icon-clothing {
  background-position: -48px 0px;
}

div.item div.header .icon-mobile,
div.product div.header .icon-mobile {
  background-position: -64px 0px;
}

div.item div.header .icon-ipad,
div.product div.header .icon-ipad {
  background-position: -80px 0px;
}

div.item div.header .icon-desktop,
div.product div.header .icon-desktop {
  background-position: -96px 0px;
}

div.item div.header .icon-laptop,
div.product div.header .icon-laptop {
  background-position: -112px 0px;
}

div.item div.header .icon-badge,
div.product div.header .ico12n-badge {
  background-position: -128px 0px;
}

div.cart .icon-cart {
  background-position: -144px 0px;
}

div.item div.header h3,
div.product div.left-col div.header h3,
div.cart h3 {
  display: block;
  position: relative;
  width: 100%;
  margin: 10px 0;
  padding-left: 30px;
  overflow: hidden;
  white-space: nowrap;
}

div.size-chart h3 {
  display: block;
  position: relative;
  padding: 10px 0;
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
}

div.item div.header a.details,
div.cart div.header a.continue {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #666;
  font-size: 11px;
  font-weight: bold;
  padding: 10px;
  border-left: 1px solid #cacaca;
  cursor: pointer;
  background-color: #eaeaea;
  background-image: -moz-linear-gradient(top, #eaeaea, #d6d6d6);
  background-image: -ms-linear-gradient(top, #eaeaea, #d6d6d6);
  background-image: -o-linear-gradient(top, #eaeaea, #d6d6d6);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#d6d6d6));
  background-image: -webkit-linear-gradient(top, #eaeaea, #d6d6d6);
  background-image: linear-gradient(top, #eaeaea, #d6d6d6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eaeaea', EndColorStr='#d6d6d6');
}

div.item div.header a.details:hover,
div.cart div.header a.continue:hover {
  background-color: #e1e1e1;
  background-image: -moz-linear-gradient(top, #e1e1e1, #d1d1d1);
  background-image: -ms-linear-gradient(top, #e1e1e1, #d1d1d1);
  background-image: -o-linear-gradient(top, #e1e1e1, #d1d1d1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#d1d1d1));
  background-image: -webkit-linear-gradient(top, #e1e1e1, #d1d1d1);
  background-image: linear-gradient(top, #e1e1e1, #d1d1d1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e1e1e1', EndColorStr='#d1d1d1');
}

div.cart div.header a.continue {
  padding-left: 28px;
}

div.cart div.header a.continue span.icon {
  display: block;
  width: 16px;
  height: 14px;
  background-position: -160px 0px;
}

div.item .preview-image,
div.product div.left-col div.images,
.post .item-shell .shell span {
  border: solid #cacaca;
  display: block;
  background: #fff;
  text-align: center;
  overflow: hidden;
  border-width: 1px;
  line-height: 0px;
}

.post .item-shell .shell span {
  padding: 10px;
}

div.item.list a.preview-image img {
  margin: 10px;
  width: 424px;
  height: 424px;
  max-width: 424px;
  max-height: 424px;
}

div.item.page .preview-image img {
  margin: 20px;
  max-width: 876px;
}

div.item div.footer a.btn-add,
div.product div#puchase-form a#btn-add,
div.cart div#cart_items a#btn-checkout {
  position: relative;
  float: right;
  cursor:pointer;
  border:1px solid #d4d4d4;
  text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #4a993e;
  padding: 3px 7px 1px;
  margin: 8px 8px 8px 0px;
  background-color: #36b725;
  background-image: -moz-linear-gradient(top, #36b725, #298c1c);
  background-image: -ms-linear-gradient(top, #36b725, #298c1c);
  background-image: -o-linear-gradient(top, #36b725, #298c1c);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36b725), to(#298c1c));
  background-image: -webkit-linear-gradient(top, #36b725, #298c1c);
  background-image: linear-gradient(top, #36b725, #298c1c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#36b725', EndColorStr='#298c1c');
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
}

div.item div.footer a.btn-add:hover,
div.product div#puchase-form a#btn-add:hover,
div.cart div#cart_items a#btn-checkout {
  border: 1px solid #468f3b;
  background-color: #32ab22;
  background-image: -moz-linear-gradient(top, #32ab22, #257d19);
  background-image: -ms-linear-gradient(top, #32ab22, #257d19);
  background-image: -o-linear-gradient(top, #32ab22, #257d19);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#32ab22), to(#257d19));
  background-image: -webkit-linear-gradient(top, #32ab22, #257d19);
  background-image: linear-gradient(top, #32ab22, #257d19);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#32ab22', EndColorStr='#257d19');
}

/* end */

/*------------------------------------------------------------------------------
    Not Footer
------------------------------------------------------------------------------*/
#wrapper {
  height: auto;
  margin: 0 auto;
  display: block;
  min-width: 470px;
  width: 470px;
}

.faq #wrapper,
.terms #wrapper,
.post #wrapper {
  margin-bottom: 0px;
  width: 470px;
}

#not-footer {
  height: auto;
  min-height: 100%;
}

.content {
  color: #333;
  z-index: 2;
  text-align: center;
  position: relative;
  display: block;
  margin: 20px auto 0;
  clear: both;
}

.page {
  color: #333;
  z-index: 2;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 20px 0 0;
  padding: 0 10px;
  width: auto;
  clear: both;
  font-size: 22px;
  line-height: 1.5;
}

.faq .page {
  background: transparent url(../ui/joketocat.png) center bottom no-repeat;
  padding-bottom: 440px;
}

.terms .page {
  background: transparent url(../ui/lawctocat.png) 465px 0 no-repeat;
}

.terms h2 {
  margin-bottom: 20px;
  font-size: 1.6em;
  margin-top: 40px;
}

.terms h2:first-child {
  margin-top: 0px;
}

.page h3 {
  font-size: 22px;
  color: #666;
  line-height: 1.5;
  line-height: 1.3em;
  margin-left: 33px;
}

.page h3 span {
  color: #333;
  margin-left:-34px;
}

.faq p,
.terms p {
  margin-bottom: 20px;
}

div.faq p a:hover,
div.terms p a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.btn-more,
.btn-next,
.btn-previous {
  cursor:pointer;
  border:1px solid #d4d4d4;
  text-shadow:1px 1px 0 #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 10px;
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -ms-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -o-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #ececec);
  background-image: linear-gradient(top, #f4f4f4, #ececec);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#ececec');
  font-size: 15px;
  font-weight: bold;
  color: #666;
  text-align: center;
  margin: 20px auto 20px;
  padding: 10px 0;
  text-indent: -10px;
}

.btn-more {
  display: block;
  width: 470px;
}

.btn-next,
.btn-previous {
  padding: 3px 8px 5px;
  margin: 0 5px;
}

.btn-disabled {
  padding: 3px 8px 5px;
  margin: 0 5px;
  border:1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 10px;
  background-color: #fafafa;
  font-size: 15px;
  font-weight: bold;
  color: #ddd;
  text-align: center;
  user-select: none;
  cursor: default;
}

a.btn-more:hover,
.btn-next:hover,
.btn-previous:hover {
  background-color: #eee;
  background-image: -moz-linear-gradient(top, #eee, #ddd);
  background-image: -ms-linear-gradient(top, #eee, #ddd);
  background-image: -o-linear-gradient(top, #eee, #ddd);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
  background-image: -webkit-linear-gradient(top, #eee, #ddd);
  background-image: linear-gradient(top, #eee, #ddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eee', EndColorStr='#ddd');
  text-decoration: none !important;
}

.octo-title {
  color: #333;
}

.octoID {
  position: relative;
  float: left;
  top: 5px;
  color: #CCC;
}

#spinner {
  display: block;
  height: 18px;
  width: 18px;
  position: relative;
  margin: 20px auto;
}

.pagination {
  font-weight: bold;
  color: #666;
  display: block;
  position: relative;
  text-align: center;
}

.spacer {
  display: block;
  height: 165px;
}
/* @end */

#infscr-loading {
  position: relative;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin: 20px auto 40px;
}

#infscr-loading img {
  display: none;
}

.overflow-hidden{
  overflow: hidden;
}

.masonry {
  -webkit-transition-duration: .5s;
     -moz-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
}

.masonry .masonry-brick {
  -webkit-transition-duration: 1s;
     -moz-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

div.item-shell.masonry-brick {
  opacity: 1;
  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
}
